@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;500;600;1000&display=swap');



*{
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html{
    background-color: #1A1A1D;
    background-image: url("./images/layered-waves-haikei\ \(9\).png");
    
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* Navigation Bar */

li, a, button{
    
    font-weight: 500;
    font-size: 16px;
    color: #cacacf;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}
.logo{
    color: rgb(102, 252, 241, 1);
    font-size: 20px;
    cursor: pointer;
    font-weight: 1000;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 30px;

}

.nav__links li a{
    color: rgb(197, 198, 199);
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: rgb(149, 132, 209);
}
button{
    padding: 9px 25px;
    background-color: rgba(102, 252, 241, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: #1A1A1D;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(102, 252, 241, 0.7);

}





/* Home Section */

button{
    padding: 9px 25px;
    background-color: rgba(102, 252, 241, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: #1A1A1D;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(102, 252, 241, 0.7);

}
.home{
    color: #c5c6c7;
    text-align: center;
    padding: 7% 10%;

}

.home h1{
    color: #66fcf1;
    margin-bottom: 30px;
    font-size: 40px;
}

.page2__home h1{
    color: #66fcf1;
    margin-bottom: 30px;
    font-size: 40px;
}

#typed{
    color: #66fcf1;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 600;
}

.home__text{
    color: #c5c6c7;
}

.buts{
    padding: 9px, 15px;
    margin: 20px;
    cursor: pointer;
    background-color:rgba(149, 198, 192, 0.9) ;
}


.most{
    bottom: -20px;
    position: relative;
}

.arrow__text{
    font-weight: 100;
    font-size: 15px;
}


/*Page2*/

.page2__img{
    position: absolute;
    bottom: -1010px;
    width: 800px;
    height: 450px;
    opacity: 0.5;
    
}

.page2__home{
    color: #c5c6c7;
    position:relative;
    text-align: center;
    padding: 7% 10%;

}

.page2__home h1{
    color: #66fcf1;
    margin-bottom: 30px;
    font-size: 40px;
}

.page2__home__text{
    color: #c5c6c7;
}

.hero-image {
    position: relative;
    height: 1000px;
    background-image: url(./images/layered-waves-haikei\ \(6\).svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .material-icons { 
    color: #57575c; 
    font-size: 18px;
    cursor:default;
}

.material-icons-page4{
    color: #57575c;
    font-family: 'Material Icons';
    cursor: default;
    font-size: 40px;
    

}
.page4__image{
    display: relative;
    width: 70%;
    height: 70%;
}

.faq{
    border-bottom: solid rgb(102, 252, 242) 1px;
    padding: 7px;
    margin: 20px;
    background-color:#66fcf215;
    display: flex;
    padding-left: 20px;
    align-items: left;
    margin-top: 5px;
    border-radius: 3px;
}


.page4__home{
    color: #c5c6c7;
    position:relative;
    text-align: center;
    padding: 7% 10%;

}

.page4__home h1{
    color: #66fcf1;
    margin-bottom: 30px;
    font-size: 40px;
}

.page4__home__text{
    color: #c5c6c7;
}

.faq-div h3{
    color:#66fcf1;
    weight: bold;
    text-transform: uppercase;
    display: flex;
    padding-left: 20px;
    align-items: left;

    
}



/* LOGIN PAGE */


